<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <script>
        fetch('http://localhost:5000/api/getKettlesJSON')
  .then(response => response.json())
  .then(data => {
    let content=``;
    for (let i=0;i<data.kettles.length;i++){
        content+=`
            Чайник `+data.kettles[i].producer_id+` `+data.kettles[i].model_code+` `+data.kettles[i].name+`
            Ціна: `+data.kettles[i].price+`
        `;
        console.log(content);
    }
    
    document.getElementById('content').innerHTML=content;
  })
  .catch(error => console.error('Error:', error));
    </script>
</body>
</html>